@import "tailwindcss";
@plugin './hero.ts';
@config "../../tailwind.config.js";
@source '../../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "Fira Code", monospace;
  --background: oklch(0.985 0 0);
  --foreground: oklch(0.205 0 0);
  --card: oklch(0.97 0.01 250);
  --card-foreground: oklch(0.205 0 0);
  --popover: oklch(0.98 0.01 250);
  --popover-foreground: oklch(0.205 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.94 0.02 250);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.94 0.02 250);
  --muted-foreground: oklch(0.45 0 0);
  --accent: oklch(0.96 0.02 250);
  --accent-foreground: oklch(0.25 0 0);
  --destructive: oklch(0.6 0.15 22.216);
  --border: oklch(0.9 0 0 / 70%);
  --input: oklch(0.96 0 0 / 95%);
  --ring: oklch(0.65 0.08 250);
  --chart-1: oklch(0.58 0.23 264.376);
  --chart-2: oklch(0.66 0.16 162.48);
  --chart-3: oklch(0.74 0.18 70.08);
  --chart-4: oklch(0.6 0.21 303.9);
  --chart-5: oklch(0.68 0.2 16.439);
  --sidebar: #f5f5f7;
  --radius-default: 0.5rem;
}

.dark {
  --background: #000000;
  --foreground: #edeef0;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #040404;
  --radius-default: 0.5rem;
}

html,
body {
  font-family: var(--font-sans);
  color: var(--foreground);
  background-color: var(--background);
}

* {
  border-color: var(--border);
}
